bin/
target/
build/
.gradle
out/
logs/
*.log
*.log.json
node_modules
/devops-monitoring/grafana/data/sessions/
.idea/
.eclipse-pmd
edu.umd.cs.findbugs.core.prefs
edu.umd.cs.findbugs.plugin.eclipse.prefs
.classpath
.project
.settings/
